extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio

    p Below are the projects that I created while completing the Full Stack Javascript Treehouse Techdegree. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell 
          a(href=`project/${project.id}`)
            img.thumbnail(src=`/static/images/project${project.id}Main.jpg`, alt="")
            h5 #{project.project_name}
